html, body {
	width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  background-color: #f4f9ea;
  color: #555;
}
h1,h2,h3,h4,h5 {
  margin: 0;
}
a {
  color: #316eb6;
  text-decoration: none
}
a:hover {
  color: #1d487b;
}
ul {
  margin:0;
  padding:0;
  list-style: none;
}
.clear {
  clear: both;
}